# Core ML Frameworks
torch
scikit-learn
numpy
pandas
xgboost

# HEP-ML Bridge Tools
awkward
uproot

# Jupyter & Presentation
jupyter
ipykernel
matplotlib
jupyterlab-rise

# Development tools
pytest
ruff
black
